<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Era Engines | Trying to connect...</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/mediaquery.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="relative isolate px-6 py-24 sm:py-32 lg:px-8">
        <div class="logo flex justify-center items-center py-4 fixed top-0 left-0 right-0 z-50">
            <a href="/">
                <img class="w-60" src="/static/logo.png" alt="Era Engines Logo"></a>
        </div>
    </div>

    <div>
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-3xl font-bold mb-4">Connecting...</h1>
            <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-blue-500 border-solid mb-4"></div>
            <p class="text-lg text-gray-600">Please wait while we connect you.</p>
        </div>
    </div>

</body>

</html>